.featured__products__container {
  padding: 0 0 40px 0;
  text-align: center;
  margin-bottom: 30px;
}
.featured__products__container .fp__h1 {
  text-align: center;
  color:rgb(0,0,0,0.8);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: large;
}
.featured__products__container .product__container {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 400px){
  .featured__products__container {
    padding: 0 0 15px 0;
    margin-bottom: 10px;
  }
  .featured__products__container .fp__h1 {
    text-align: center;
    color:rgb(0,0,0,0.8);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: small;
  }
}
