.product__offer {
    padding :50px 0;
    margin: 90px 0;
}
.product__offer .product__offe__heading{
    color: black;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.product__offer .product__offer__box__container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
}

.product__offer__box__container .product__offer__box{
    margin: 5px;
    max-width: 320px;
    min-width: 320px;
    border: 2px solid black;

}
.product__offer__box .product__offer__box__header{

}
.product__offer__box .product__offer__box__icon{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.product__offer__box__header .product__offer__box__icon__h2{
    text-align: center;
    border-bottom: 5px solid black;
}
.product__offer__box__header .product__offer__box__icon__h2 h2{
    color: rgb(171, 47, 47) ;
}
.product__offer__box .product__offer__box__text {
    margin: 20px;
}
.product__offer__box .product__offer__box__text p{
    font-size: large;
    color: rgb(171, 47, 47) ;
    text-align: center;

}
@media only screen and (max-width: 400px){
    .product__offer {
        padding :25px 0;
        margin: 25px 0;
    }
    .product__offer .product__offe__heading{
        font-size: x-large;
        margin-bottom: 15px;
    }
    .product__offer__box__container .product__offer__box{
        margin: 8px;
        max-width: 270px;
        min-width: 270px;
    
    }
    .product__offer__box .product__offer__box__text {
        margin: 10px;
    }
    .product__offer__box .product__offer__box__text p{
        font-size: medium;
    
    }
}